<div class="nav-and-hero">
    <nav class="navbar navbar-expand-xl">
        <div class="container-xl">
            <a class="navbar-brand text-light" href="#">PRMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-2">
                        <a routerLink="/home" class="nav-link active  nav-anchor-element">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a routerLink="/about" class="nav-link  nav-anchor-element">About</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a routerLink="/contact" class="nav-link  nav-anchor-element">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>