* {
    padding: 0;
    margin: 0;
}
.form-element {
    padding: 15px;
}
@media (min-width: 900px) {
    .form-element {
        width: 450px;
    }
}

.form-container {
    height: 100%;
    background-color: #d8e8fa;
    padding-top: 15%;
}
form {
    height: 100%;
}
.form-button {
    width: 100px;
    color: white;
    padding: 10px;
}