<div class="row">
    <div class="col-12 my-3 dashboard-heading">
        <p class="text-light fw-bolder">Dashboard</p>
    </div>
    <div class="col-12 my-3">
        <small class="text-light fw-lighter">
            <a routerLink="staff-details" routerLinkActive="active" class="text-reset text-decoration-none">
                Staff - Details
            </a>
        </small>
    </div>
    <div class="col-12 my-3">
        <small class="text-light fw-lighter">
            <a routerLink="patient-details" routerLinkActive="active" class="text-reset text-decoration-none">
                Patient - Details
            </a>
        </small>
    </div>
    <div class="col-12 my-3">
        <small class="text-light fw-lighter">
            <a routerLink="test" routerLinkActive="active" class="text-reset text-decoration-none">
                Test
            </a>
        </small>
    </div>
    <div class="col-12 my-3">
        <small class="text-light fw-lighter">
            <a routerLink="patient-test" routerLinkActive="active" class="text-reset text-decoration-none">
                Patient - Test
            </a>
        </small>
    </div>
    <div class="col-12 my-3">
        <small class="text-light fw-lighter">
            <a routerLink="patient-test-details" routerLinkActive="active" class="text-reset text-decoration-none">
                Patient - Test Result
            </a>
        </small>
    </div>
</div>